*{ /*deixar as dimensões padrões */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header-1{ /* estilo do primeiro cabeçario */
    background-color: black;
    height: 60px;
}

.logo{ /* direcionar a logo ao lado das três barras  */
    padding-left: 60px;
}

.menu{ /* formatando a lista */
    top: 60px;
    position: absolute;
    width: 100%;
    list-style: none;
}

a{ /* tirar a linha de baixo das listas */
    text-decoration: none;
   
}

body{ /* caracteres do menu  */
    top: 60px;
    font-family: Arial;
    background-color: rgba(146,204,221) ;
}

input[type="checkbox"]  /* efeito do menu */
{
    display: none;
}

input[type="checkbox"]:checked ~ nav  /* efeito do menu */
{
    transform: translateX(350px);
}

nav{ /* efeito do menu */
    background-color:rgba(160, 172, 170, 0.432);
    width: 350px;
    left: -350px;
    height: 400px;
    position: absolute;
    transition: all 0.5s;  
}

.menu a{ /* efeito do menu */
    display: block;
    padding: 20px 5px;
    color:white;
}

.menu a:hover{ /* efeito do menu */
    background-color: #0099ff;
    color: black;
}

label{ /* efeito do menu */
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.meio{ /* posicionamento do meio da tela */
    padding: 40%;
}

footer{ /* dimensoes do rodape */
    height: 100%;
    background-color: black;
    padding-top: 8px;
    padding-bottom: 50px;  
}
p{ /* estilo do p */
    color: white;
    padding-left:8px;
}

ul.lista{
    text-align: center;
}
.itens a{
    position: relative;
    padding-left: 8px;
    color: white;
   

}
ul li.itens{
    display:inline-block;
    vertical-align:top;
    padding: 10px;
    color: white;
    text-align: center;
}

.redessociais{
    text-align: center;
}

ul.lista2{
    position: relative;
    padding-left: 8px;
    display:inline-block;
    
}
ul li.icones{
    display:inline-block;
    vertical-align:top;
    padding: 10px;
    position: 10px;
}
h1{
    font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: Helvetica;
}